---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='CodeSystem' id='us-ph-response-message-processing-status' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: USPublicHealthResponseMessageProcessingStatus - Change History</h2>
  <p>History of changes for us-ph-response-message-processing-status {{type | downcase}}.</p>

  {%include CodeSystem-us-ph-response-message-processing-status-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
