<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
 	<ul class="dropdown-menu">   
      <li>
        <a href="{{site.data.info.assets}}background.html">Implementation Guide Overview</a>
      </li>
      <li>
        <a href="{{site.data.info.assets}}usecases.html">Use Cases and Workflows</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="spec.html">Public Health Reporting Specification</a>
      </li>
      <li>
        <a href="researchdataextraction.html">Research Data Partner On-boarding Specification</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">FHIR Artifacts</a></li>
  <li><a href="contentig.html">Content IG Guidance</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>      
